[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
psycopg2 = "*"
psycopg2-binary = "*"
sqlalchemy-redshift = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.7"
