[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Login = "*"
psycopg2 = "*"
psycopg2-binary = "*"
sqlalchemy-redshift = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-mail = "*"
tensorflow = "~=1.13.1"
opencv-python = "*"
keras = "==2.2.4"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
