{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content%}

<!-- Header -->
<header class="w3-display-container w3-wide" style="max-width:1500px;" id="draw">

    <form id="grading" action="{{ url_for('views.grading') }}" method="POST" enctype="multipart/form-data">
        <canvas id="canvas">
            <script type="text/javascript">
                $(document).ready(function () {
                    var canvas = document.getElementById('canvas'),
                        context = canvas.getContext('2d');

                    window.addEventListener('resize', resizeCanvas, false);

                    function resizeCanvas() {
                        canvas.width = window.innerWidth;
                        canvas.height = window.innerHeight;
                        drawCanvas();
                        redraw();
                    }
                    resizeCanvas();
                })();
            </script>
        </canvas>
    </form>

</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <form class="w3-row-padding w3-grayscale" id="grading" action="{{ url_for('views.grading')}}" method="POST"
        enctype="multipart/form-data">
        <input type="hidden" id='url' name="url" value="">
        <input type="hidden" name="dict" value="{{ dict }}">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <input class="w3-button w3-light-grey w3-block" type="submit" id='grading' value="Avaliar {{ dict }}"
                onclick="return save();">
        </div>
    </form>
    <form class="w3-row-padding w3-grayscale" id="save" action="{{ url_for('views.save')}}" method="POST"
        enctype="multipart/form-data">
        <input type="hidden" id='url' name="url" value="">
        <input type="hidden" name="dict" value="{{ dict }}">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <input class="w3-button w3-light-grey w3-block" type="submit" id='save' value="Salvar {{ dict }}"
                onclick="return save();">
        </div>
    </form>

</div>

{% endblock %}