{% extends "base.html" %}
{% block title %}Desenhar {{ dict }} – {% endblock %}

{% block content %}
<header class="w3-display-container w3-wide" style="max-width:1500px;">
    <form action="{{ url_for('views.grading') }}" method="POST" enctype="multipart/form-data">
        <h1>_</h1>
        <canvas id="canvas" , width="800" height="800" , style="
                padding-left: 0;
                padding-right: 0;
                margin-left: auto;
                margin-right: auto;
                display: block;
                width: 800px;
                outline: 5px solid black;">
            <script type="text/javascript">
                $(document).ready(function () {
                    // var canvas = document.getElementById('canvas'),
                    //     context = canvas.getContext('2d');

                    // window.addEventListener('resize', resizeCanvas, false);

                    // function resizeCanvas() {
                    //     canvas.width = window.innerWidth;
                    //     canvas.height = window.innerHeight;
                    drawCanvas();
                    //     redraw();
                    // }
                    // resizeCanvas();
                })();
            </script>
        </canvas>
    </form>
</header>

<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-row-padding w3-grayscale w3-padding-16">
        <form class="w3-col l3 m6 w3-margin-bottom" action="{{ url_for('views.grading') }}" method="POST"
            enctype="multipart/form-data">
            <input type="hidden" id='url' name="url" value="">
            <input type="hidden" name="dict" value="{{ dict }}">
            <div>
                <input class="w3-button w3-light-grey w3-block" type="submit" value="Avaliar {{ dict }}"
                    onclick="return save();">
            </div>
        </form>
        <!-- <form class="w3-col l3 m6 w3-margin-bottom" action="{{ url_for('views.draw') }}" method="POST"
            enctype="multipart/form-data">
            <input type="hidden" id='url' name="url" value="">
            <input type="hidden" name="dict" value="{{ dict }}">
            <button class="w3-button w3-light-grey w3-block" type="submit" id="RefreshPage">Limpar</button>
        </form>
        <script>
            $('#RefreshPage').click(function () {
                location.reload();
            });
        </script> -->
    </div>
</div>
{% endblock %}