{% extends "base.html" %}
{% block title %}Avaliar {{ dict }} – {% endblock %}

{% block content %}
<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-container w3-padding-32">
        <h3 class="w3-padding-16">{{ message }}</h3>
        <img src="{{ drawing }}" style="width:60%">
        <br>
        <form class="w3-col l3 m6 w3-margin-bottom w3-padding-32" action="{{ url_for('views.save') }}" method="POST"
            enctype="multipart/form-data">
            <input type="hidden" id='dict' name="dict" value="{{ dict }}">
            <input type="hidden" id='message' name="message" value="{{ message }}">
            <input type="hidden" id='drawing' name="drawing" value="{{ drawing }}">
            <input class="w3-input w3-border" type="text" placeholder="Dê um nome" required name="drawing_name">
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> SALVAR {{ dict.upper() }}
            </button>
        </form>
        </form>
    </div>
</div>
{% endblock %}