{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}

<!-- Header -->
<header class="w3-display-container w3-wide" style="max-width:1500px;" id="home">

    <form action="{{ url_for('views.predict')}}" method="POST" enctype="multipart/form-data">
        <canvas id="canvas", width="800" height="800">
            <script type="text/javascript">
                $(document).ready(function () {
                    // var canvas = document.getElementById('canvas'),
                    //     context = canvas.getContext('2d');

                    // window.addEventListener('resize', resizeCanvas, false);

                    // function resizeCanvas() {
                    //     canvas.width = window.innerWidth;
                    //     canvas.height = window.innerHeight;
                        drawCanvas();
                    //     redraw();
                    // }
                    // resizeCanvas();
                })();
            </script>
        </canvas>
    </form>

</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <div class="w3-row-padding w3-grayscale">
        <form class="w3-col l3 m6 w3-margin-bottom" action="{{ url_for('views.predict') }}" method="POST"
            enctype="multipart/form-data">
            <input type="hidden" id='url' name="url" value="">
            <div>
                <input class="w3-button w3-light-grey w3-block" type="submit" value="Descobrir"
                    onclick="return save();">
            </div>
        </form>
    </div>

    <div class="w3-container w3-padding-32" id="draw">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Teste suas habilidades!</h3>
    </div>

    <form action="/draw" method="POST">
        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="{{ url_for('static', filename='cat.jpg') }}" alt="Cat" style="width:100%">
                <h3>Gato</h3>
                <p class="w3-opacity">Animal</p>
                <p>O gato é um mamífero carnívoro da família dos felídeos, muito popular como animal de estimação.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Cat"
                        name="dict">Desenhar</button>
                </p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="{{ url_for('static', filename='giraffe.jpg') }}" alt="Giraffe" style="width:100%">
                <h3>Girafa</h3>
                <p class="w3-opacity">Animal</p>
                <p>A girafa é um mamífero artiodátilo, ruminante, do gênero Giraffa, da família dos girafídeos.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Giraffe"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="{{ url_for('static', filename='sheep.jpg') }}" alt="Sheep" style="width:100%">
                <h3>Ovelha</h3>
                <p class="w3-opacity">Animal</p>
                <p>A ovelha é um quadrúpede, mamífero ruminante normalmente mantido para criação.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Sheep"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="{{ url_for('static', filename='bat.jpg') }}" alt="Bat" style="width:100%">
                <h3>Morcego</h3>
                <p class="w3-opacity">Animal</p>
                <p>O morcego é um mamífero da ordem Chiroptera, cujos integrantes apresentam uma fina membrana de pele entre os dedos, a qual se estende até as patas e se conecta às laterais do corpo, formando as asas.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Bat"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="{{ url_for('static', filename='octopus.jpg') }}" alt="Octopus" style="width:100%">
                <h3>Polvo</h3>
                <p class="w3-opacity">Animal</p>
                <p>O polvos é um molusco marinho da classe Cephalopoda, da ordem Octopoda, possuindo oito braços fortes à volta da boca.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Octopus"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="{{ url_for('static', filename='camel.jpg') }}" alt="Camel" style="width:100%">
                <h3>Camelo</h3>
                <p class="w3-opacity">Animal</p>
                <p>O camelo é um gênero de ungulados artiodáctilos (com um par de dedos de apoio em cada pata) que contém duas espécies: o dromedário, de uma corcova, e o bactriano, de duas corcovas.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Camel"
                        name="dict">Desenhar</button></p>
            </div>
        </div>
    </form>

    <div class="w3-container w3-padding-32" id="my-drawings">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Meus desenhos</h3>
    </div>

    <div class="w3-row-padding">
        {% for img in img_list %}
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">{{ img.name }}</div>
                <img src="{{ img.img }}" style="width:100%">
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Sobre</h3>
        <p>Esta página é parte de um protótipo desenvolvido em âmbito acadêmico que utiliza conceitos práticos de Redes Neurais Convolucionais para classificar imagens. Alguns artefatos do conjunto de dados da ferramenta 'Quick, draw!', desenvolvida pelo Google, foram utilizados para treinar este modelo.</p>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contato</h3>
        <!-- <p>Lets get in touch and talk about your next project.</p> -->
        <p>Vamos entrar em contato e conversar sobre sua sugestão.</p>
        <form action="/action_page.php" target="_blank">
            <input class="w3-input w3-border" type="text" placeholder="Nome" required name="Name">
            <input class="w3-input w3-section w3-border" type="text" placeholder="E-mail" required name="Email">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Assunto" required name="Subject">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Comente" required name="Comment">
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> ENVIAR MENSAGEM
            </button>
        </form>
    </div>

    <!-- Image of location/map -->
    <!-- <div class="w3-container">
            <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
        </div> -->

    <!-- End page content -->
</div>

{% endblock %}