{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content%}

<!-- Header -->
<header class="w3-display-container w3-wide" style="max-width:1500px;" id="home">

    <form action="{{ url_for('views.predict')}}" method="POST" enctype="multipart/form-data">
        <canvas id="canvas">
            <script type="text/javascript">
                $(document).ready(function () {
                    var canvas = document.getElementById('canvas'),
                        context = canvas.getContext('2d');

                    window.addEventListener('resize', resizeCanvas, false);

                    function resizeCanvas() {
                        canvas.width = window.innerWidth;
                        canvas.height = window.innerHeight;
                        drawCanvas();
                        redraw();
                    }
                    resizeCanvas();
                })();
            </script>
        </canvas>
    </form>

</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

    <div class="w3-row-padding w3-grayscale">
        <form class="w3-col l3 m6 w3-margin-bottom" action="{{ url_for('views.predict')}}" method="POST"
            enctype="multipart/form-data">
            <input type="hidden" id='url' name="url" value="">
            <div>
                <input class="w3-button w3-light-grey w3-block" type="submit" value="Descobrir"
                    onclick="return save();">
            </div>
        </form>
        <form class="w3-col l3 m6 w3-margin-bottom" action="{{ url_for('views.save')}}" method="POST"
            enctype="multipart/form-data">
            <input type="hidden" id='url' name="url" value="">
            <input type="hidden" name="dict" value="desenho">
            <div>
                <input class="w3-button w3-light-grey w3-block" type="submit" value="Salvar desenho"
                    onclick="return save();">
            </div>
        </form>
    </div>

    <div class="w3-container w3-padding-32" id="draw">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Teste suas habilidades!</h3>
    </div>

    <form action="/draw" method="POST">
        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/w3images/team2.jpg" alt="Cat" style="width:100%">
                <h3>Gato</h3>
                <p class="w3-opacity">Animal</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Cat"
                        name="dict">Desenhar</button>
                </p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/w3images/team1.jpg" alt="Giraffe" style="width:100%">
                <h3>Girafa</h3>
                <p class="w3-opacity">Animal</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Giraffe"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/w3images/team3.jpg" alt="Sheep" style="width:100%">
                <h3>Ovelha</h3>
                <p class="w3-opacity">Animal</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Sheep"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/w3images/team4.jpg" alt="Bat" style="width:100%">
                <h3>Morcego</h3>
                <p class="w3-opacity">Animal</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Bat"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/w3images/team4.jpg" alt="Octopus" style="width:100%">
                <h3>Polvo</h3>
                <p class="w3-opacity">Animal</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Octopus"
                        name="dict">Desenhar</button></p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/w3images/team4.jpg" alt="Camel" style="width:100%">
                <h3>Camelo</h3>
                <p class="w3-opacity">Camelo</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block" type="submit" value="Camel"
                        name="dict">Desenhar</button></p>
            </div>
        </div>
    </form>

    <div class="w3-container w3-padding-32" id="my-drawings">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Meus desenhos</h3>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
                <img src="/w3images/house5.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
                <img src="/w3images/house2.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
                <img src="/w3images/house3.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
                <img src="/w3images/house4.jpg" alt="House" style="width:100%">
            </div>
        </div>
    </div>

    <div class="w3-row-padding">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Summer House</div>
                <img src="/w3images/house2.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
                <img src="/w3images/house5.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
                <img src="/w3images/house4.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
                <img src="/w3images/house3.jpg" alt="House" style="width:99%">
            </div>
        </div>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="about">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Sobre</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contato</h3>
        <!-- <p>Lets get in touch and talk about your next project.</p> -->
        <p>Vamos entrar em contato e conversar sobre sua sugestão.</p>
        <form action="/action_page.php" target="_blank">
            <input class="w3-input w3-border" type="text" placeholder="Nome" required name="Name">
            <input class="w3-input w3-section w3-border" type="text" placeholder="E-mail" required name="Email">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Assunto" required name="Subject">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Comente" required name="Comment">
            <button class="w3-button w3-black w3-section" type="submit">
                <i class="fa fa-paper-plane"></i> ENVIAR MENSAGEM
            </button>
        </form>
    </div>

    <!-- Image of location/map -->
    <!-- <div class="w3-container">
            <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
        </div> -->

    <!-- End page content -->
</div>

{% endblock %}